.nav-item {
  background-image: linear-gradient(to right, #27368c, #27368c, 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-item:before {
  content: "";
  background: #27368c;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  background-position: 0;
}

.nav-item:hover::before {
  width: 100%;
}

.logosprov {
  background-color: #27368c;
  padding: 2rem;
}

.button__nov {
  color: #27368c;
}

.videos iframe {
  width: 100%;
}

.mapa iframe {
  width: 100%;
  height: 300px;
  filter: grayscale();
}

.footer {
  background-image: linear-gradient(#084035, black);
}

.icon-white {
  color: white;
}

main {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 42%,
    rgba(182, 173, 173, 1) 65%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 42%,
    rgba(182, 173, 173, 1) 65%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 42%,
    rgba(182, 173, 173, 1) 65%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b6adad",GradientType=1);
  padding-bottom: 0.5rem;
}

body {
  min-height: 100vh;
}

/* css anterior*/

.slogan {
  text-align: center;
  background-color: #27368c;
  color: white;
}
.logos {
  display: flex;
  background-color: #f20732;
  align-items: baseline;
  width: 100%;
}
.logos__list {
  list-style: none;
}
.logos__items {
  display: inline-block;
  border: none;
  height: 7rem;
  width: 12rem;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
}

.destacados__title {
  text-align: center;
  padding: 1rem auto;
  margin: 2rem;
  margin-top: 3rem;
}
.destacados__list {
  list-style: none;
}
.destacados__items {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 300px;
  height: 215px;
}
.tutoriales__title {
  text-align: center;
  padding: 1rem auto;
  margin: 2rem;
  margin-top: 3rem;
}
.tutoriales__list {
  list-style: none;
}
.tutoriales__items {
  margin: 1rem;
  display: inline-block;
}

footer {
  background-color: #084035;
  color: white;
  margin-top: 4rem;
  border-top: solid black 2px;
}
.footer__icon {
  margin: 2rem 1rem 2rem 3rem;
}
.footer__direccion h2 {
  text-align: left;
}
.footer__direccion {
  width: 14rem;
  margin: 1rem;
}
.footer__map iframe {
  margin: 1rem 0 1rem 8rem;
}
/*SERVICIOS*/
.servicios {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.servicios img {
  width: 22rem;
  height: 22rem;
}
.servicios__tarjeta {
  width: 22rem;
}

.nosotros__tarjeta {
  margin: 2rem;
}
.nosotros img {
  width: 100vw;
  height: 20rem;
}
.oficiales {
  text-align: center;
  padding: 2rem;
  background-image: url(../img/pexels-pixabay-301717.jpg);
}
.productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productos h3 {
  text-align: center;
  margin: 3rem;
  color: red;
}
.productos__paneles {
  display: flex;
  justify-content: space-evenly;
  border: 8px solid red;
  padding: 3rem;
}
.productos__herrajes {
  display: flex;
  justify-content: space-evenly;
  border: 8px solid red;
  padding: 3rem;
}
.productos__adhesivos {
  display: flex;
  justify-content: space-evenly;
  border: 8px solid red;
  padding: 3rem;
}
.productos__herramientas {
  display: flex;
  justify-content: space-evenly;
  border: 8px solid red;
  padding: 3rem;
}
.productos img {
  width: 15rem;
  height: 8rem;
}
.contacto {
  margin-top: 3rem;
}
.contacto .container {
  display: flex;
  justify-content: space-evenly;
}
.contacto__formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formas__telefono {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}
.formas__whats {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}
.formas__mail {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}
